<div class="btn-up btn-up_hide"></div>
<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo">
    <svg class="logo-icon" width="24" height="24">
      <use href="./img/icons/symbol-defs.svg#icon-site-logo"></use>
    </svg>
    <span class="logo-name">Bookshelf</span>
    </a>
    <!-- В мобилке навигацыя (дисплей:ноне) -->
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item ">
          <a href="./index.html" class="had-nav-link had-home">HOME</a>
        </li>
        <li class="nav-item">
          <a href="./shopping-list.html" class="had-nav-link had-shop">SHOPPING LIST
            <svg class="shopping-icon" width="24" height="24">
              <use href="./img/icons/symbol-defs.svg#icon-shopping"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <label id="switch" class="switch">
            <input type="checkbox" onchange="toggleTheme()" id="slider">
            <span class="slider round"></span>
    </label>
    <!-- -- -->

    <!-- Создать "burger-header.html" -->
    <!-- <div><load src="./partials/burger-header.html" /></div> -->
    <!-- -- -->
  </div>
</head>
<div class="btn-bottom btn-bottom_hide"></div>
