<div class="btn-up btn-up_hide"></div>
<header class="header">
  <div class="container header-container">
    <div class="box-logo">
      <a href="./index.html" class="logo">
        <svg class="logo-icon" width="24" height="24">
          <use href="./img/icons/symbol-defs.svg#icon-site-logo"></use>
        </svg>
        <span class="logo-name"><strong>Bookshelf</strong></span>
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item ">
            <a href="./index.html" class="had-nav-link had-home"><strong>HOME</strong></a>
          </li>
          <li class="nav-item">
            <a href="./shopping-list.html" class="had-nav-link had-shop current"><strong>SHOPPING LIST</strong>
              <svg class="shopping-icon" width="20" height="20">
                <use href="./img/icons/symbol-defs.svg#icon-shopping"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="box-burger">
      <label id="switch" class="switch">
        <input type="checkbox" onchange="toggleTheme()" id="slider">
        <span class="slider round"></span>
      </label>

      <svg class="burger-icon" width="28" height="28">
        <use href="./img/icons/symbol-defs.svg#icon-burger"></use>
      </svg>
    </div>
  </div>
</head>
<div class="btn-bottom btn-bottom_hide"></div>
