<div class="container-support">
  <div class="title-sup">
    <div class="support-title"><h2 class="title-Ukr">Support Ukraine</h2></div>
    <div class="svg-supp">
      <svg class="support-svg" width="20" height="32">
        <use href="./img/icons/symbol-defs.svg#icon-ukraine"></use>
      </svg>
    </div>
  </div>
  <div class="container-ul-supp">
    <ul class="support-list">
      <li>
        01
        <a
          href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
          ><img
            class="support-img"
            src="./img/images/save-the-children-1x.png"
            alt="save the children"
        /></a>
      </li>
      <li>
        02
        <a href="https://www.projecthope.org/country/ukraine"
          ><img
            class="support-img"
            src="./img/images/project-hope-1x.png"
            alt="project hope"
        /></a>
      </li>
      <li>
        03
        <a href="https://internationalmedicalcorps.org/country/ukraine"
          ><img
            class="support-img"
            src="./img/images/international-medical-corps-1x.png"
            alt="international medical corps"
        /></a>
      </li>
      <li>
        04
        <a href="https://www.razomforukraine.org"
          ><img class="support-img" src="./img/images/razom-1x.png" alt="razom"
        /></a>
      </li>
      <li>
        05
        <a href="https://www.actionagainsthunger.org/location/europe/ukraine"
          ><img
            class="support-img"
            src="./img/images/action-against-hunger-1x.png"
            alt="action against hunger"
        /></a>
      </li>
      <li>
        06
        <a href="https://prytulafoundation.org/en"
          ><img
            class="support-img"
            src="./img/images/sergiy-prytula-1x.png"
            alt="sergiy prytula"
        /></a>
      </li>
      <li>
        07
        <a href="https://www.msf.org/ukraine"
          ><img
            class="support-img"
            src="./img/images/medecins-sans-frontieres-1x.png"
            alt="medecins sans frontieres"
        /></a>
      </li>
      <li>
        08
        <a href="https://www.wvi.org/emergencies/ukraine"
          ><img
            class="support-img"
            src="./img/images/world-vision-1x.png"
            alt="world vision"
        /></a>
      </li>
      <li>
        09
        <a href="https://u24.gov.ua/uk"
          ><img
            class="support-img"
            src="./img/images/united24-1x.png"
            alt="united24"
        /></a>
      </li>
    </ul>
  </div>
</div>
