<div class="container-support">
  <h2>Support Ukraine</h2>
  <svg class="support-svg" width="20" height="32">
    <use href="../img/icons/symbol-defs.svg#icon-ukraine"></use>
  </svg>
  <ul class="support-list">
    <li>
      01
      <a href=""
        ><img
          class="support-img"
          src="../img/images/save-the-children-1x.png"
          alt=""
      /></a>
    </li>
    <li>
      02 <a href=""><img src="../img/images/project-hope-1x.png" alt="" /></a>
    </li>
    <li>
      03
      <a href=""
        ><img src="../img/images/international-medical-corps-1x.png" alt=""
      /></a>
    </li>
    <li>
      04 <a href=""><img src="../img/images/razom-1x.png" alt="" /></a>
    </li>
    <li>
      05
      <a href=""
        ><img src="../img/images/action-against-hunger-1x.png" alt=""
      /></a>
    </li>
    <li>
      06 <a href=""><img src="../img/images/sergiy-prytula-1x.png" alt="" /></a>
    </li>
    <li>
      07
      <a href=""
        ><img src="../img/images/medecins-sans-frontieres-1x.png" alt=""
      /></a>
    </li>
    <li>
      08 <a href=""><img src="../img/images/world-vision-1x.png" alt="" /></a>
    </li>
    <li>
      09 <a href=""><img src="../img/images/united24-1x.png" alt="" /></a>
    </li>
  </ul>
</div>
